.country-card {
  width: 100px !important;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
    height: 50%;
  }
}
.country-dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
.countries-container {
  display: flex;
}
